@model List<week7Day3.Models.ContactInfo>

<h2>Contact List</h2>

<a href="/Contact/Add">Add New Contact</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactId</td>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.EmailId</td>
            <td>@item.MobileNo</td>
        </tr>
    }
</table>